/* Aquí estoy poniendo los colores del fondo de la página web y del color del tecto */
/* Tambien he añadido el estilo que quiero que tengan mis tablas*/
body
{
    background-color:white
}
table
{
    width:70%; border-collapse:collapse;
    background-color:lightblue ;
}
td
{
    border:2px solid black;
    text-align: center;
}
main
{
    color: black;

}
section
{
    background-color: red;
    color: white;
    margin: 200px;
    padding: 50px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
article
{
    background-color: black;
    margin: 40px;
    padding: 10px;
    border-radius: 15px;
}
.RedBull
{
    background-color:#FFCC00;
}
#RedBullbackground
{
    background-color: #23326a;
}
.Mclaren
{
    background-color:#2a52be;
    margin: 40px;
    padding: 10px;
    border-radius: 15px;
}
#Mclarenbackground
{
    background-color: #F98E1D;
}